html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.main {
  font-family: 'roboto', sans-serif, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.section {
  padding: 2rem;
  text-align: center;
}

.hero-section {
  background-image: url('../images/upupdowndownleftright_native_kentucky_plants_goldenrod_joe-pye__5b0abbe0-b1be-4bd2-a7f1-eedbf95ee5df.png');
  width: 100vw;
  height: 50vh;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.column {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.column:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.column img {
  width: 100%;
  transition: transform 0.3s ease;
}

.column img:hover {
  transform: scale(1.1);
}

.content-section {
  display: flex; 
  justify-content: space-between; 
  padding: 0 2rem;
}

.content-text {
  flex: 1;
  font-family: 'margin', sans-serif;
  font-size: 3em;
  padding-right: 1em;
}

.small-image {
  width: 35vw;
  height: auto;
}

.content-image {
  flex: 1;
}

.cta-button {
  background-color: #ff7f00;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #ff5500;
}

@media (min-width: 768px) {
  .hero-section {
    height: 50vh;
  }

  .content-text {
    font-size: 3em;
  }
}

@media (min-width: 1024px) {
  .hero-section {
    height: 34vh;
  }

  .content-text {
    font-size: 5em;
  }
}
